<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
	  internalLogToConsole="true">
	  
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <targets>

    <!-- File Logger Target -->
    <target
		xsi:type="File"
		name="FileLogger"
		fileName="#{filename}"
		archiveFileName="#{archiveFileName}"
		archiveEvery="Day"
		archiveNumbering="Rolling"
		maxArchiveFiles="30"
		concurrentWrites="true"
		archiveAboveSize="102400000"
		keepFileOpen="false"
		encoding="utf-8">
      <layout xsi:type="SimpleLayout">
        <text>${longdate} ${event-context:item=uniqueIdentifier} | ${level} | ${logger} | ${message} | ${event-context:item=details} | ${event-context:item=username} | ${event-context:item=officeId} | ${event-context:item=companyName} | ${event-context:item=requestUrl} | ${event-context:item=clientBrowser} | ${event-context:item=ipAddress} | ${event-context:item=urlReferrer} | ${stacktrace} | ${exception:innerFormat=Message, Type, ShortType, ToString, Method, StackTrace:maxInnerExceptionLevel=10:innerExceptionSeparator=->:separator=, :format=Message, Type, ShortType, ToString, Method, StackTrace}</text>
      </layout>
    </target>

    <!-- Console Logger Target -->
    <target
      xsi:type="ColoredConsole"
      name="ConsoleLogger">
      <layout xsi:type="SimpleLayout">
        <text>${longdate} ${level} ${message} ${event-context:item=details} ${exception:innerFormat=Message, Type, ShortType, ToString, Method, StackTrace:maxInnerExceptionLevel=10:innerExceptionSeparator=->:separator=, :format=Message, Type, ShortType, ToString, Method, StackTrace}</text>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="FileLogger" />
    <logger name="*" minlevel="Debug" writeTo="ConsoleLogger" />
  </rules>
</nlog>